hola :D
<app-mostrar-imagen
  [imagen]="imagen"
></app-mostrar-imagen>
<app-mostrar-imagen
  [imagen]="imagen2"
></app-mostrar-imagen>
{{ elementosGuardados.length }}
<app-formulario (salida)="escuchandoAlHijo()" (salidaString)="escuchandoDetalle($event)" (enviarDato)="agregarNuevo($event)" [idPokemonModificado]="idModificar" (enviarDatoModificado)="modificarDato($event)" ></app-formulario>
<app-listar-pokemon  [pokemones]="elementosGuardados" (posIndex)="borrarElemento($event)" (idPoke2)="guardarId($event)"  ></app-listar-pokemon>
